.navbar {
  display: flex;
  justify-content: space-between;
  gap: 38px;
  padding-top: 20px;
  padding-right: 130px;
  padding-bottom: 20px;
  padding-left: 130px;
  align-items: center;
}


.navbar .logo {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

header hr {
  color: #e6e8ec;
}

.link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: #009379;
}

