.responsiveBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.welcomContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.welcomMessage {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 67px;
  line-height: 130%;
  letter-spacing: -2.5%;
  color: rgba(45, 45, 45, 1);
}

.unirateSlogan {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
}

.scrollBtn {
  margin-top: 20px;
}

.bannerDiv {
  padding-top: 50px;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.chatIcon {
  position: absolute;
  bottom: -20px;
}

/* ------------ Mobile & Tablet Responsive ------------- */
@media (max-width: 900px) {
  .responsiveBanner {
    flex-direction: column;
    align-items: flex-start;
  }

  .welcomMessage {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2%;
  }

  .unirateSlogan {
    font-size: 18px;
  }

  .bgBagnner {
    width: 90%;
  }

}

/* 

*/

.ourFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  background-color: #f8fffd;
  padding-bottom: 90px;
}

.ourFeature {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}
.ourFeature .ourFeatureParag {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 20px;
}
.ourFeatureh2 {
  font-size: 24px;
}
.ourFeatureCARDDiv {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 60px;
  margin-top: 52px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .ourFeatureCARDDiv {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .ourFeatureCARDDiv {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}

.uniListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 60px;
}
.uniListContainer p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}
.uniListContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: rgba(248, 255, 253, 1);
}

.uniListContainer h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 20px;
}

.newsletterMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.newsletter {
  background-color: rgba(229, 244, 242, 1);
  width: 90%;
  height: 311px;
  gap: 40px;
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.ourFeatureParag {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: -2.5%;
  text-align: center;
}

.unistylemessage {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.emailInputContainer {
  position: relative;
  width: fit-content;
  margin: 40px auto;
  height: fit-content;
}

.emailInput {
  width: 430px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
}

.emailInputBtn {
  position: absolute;
  right: 0;
  top: 0;
}
.Btn {
  display: flex;
  width: 199px;
  height: 60px;
  gap: 10px;
  border-radius: 20px;
  background-color: #009379;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: black;
}

@media (max-width: 600px) {
  .newsletterMainDiv .newsletter .ourFeatureParag{
    font-size: 28px;
  
  }
  .newsletterMainDiv .newsletter .unistylemessage{
  font-size: 15px;

  }
  .emailInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .emailInputBtn {
    position: relative;
  }
  .newsletter {
    height: fit-content;
  }
  .Btn {
    width: 100%;
  }
}
@media (max-width: 499px) {
  .Btn {
    width: 300px;
  }
  .emailInput {
    width: 300px;
  }
}

/*  */
