.mainDiv {
  padding-left: 80px;
}

.path {
  display: flex;
  gap: 8px;
  align-items: center;
}
.path hr {
  height: 22px;
  border: 1px solid black;
}

.path p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.uniInfoMainContainer {
  height: 637px;
  position: relative;
}
.unibox {
  display: flex;
  flex-direction: row;
  gap: 35px;
  position: absolute;
  top: 90px;
  right: 80px;
}
.uniImg {
  width: 620px;
  height: 457px;
  border-radius: 20px;
}

.Title h1 {
  display: flex;
  gap: 275px;
  align-items: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 64px;
  letter-spacing: -2%;
}

.Title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(98, 98, 100, 1);
}

.specDetails div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.specDetails h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -2%;
}

.descriptinSectionDiv {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 52px;
}

.descriptionParagraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(98, 98, 100, 1);
  height: 160px;
  
}

.slider {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.sliderActive {
  color: rgba(0, 147, 121, 1);
  text-decoration: underline;
  text-underline-offset: 8px; /* Adjust this value as needed */

}