.mainDiv {
  width: 90%;
  margin: auto;
}

.path {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.path hr {
  height: 22px;
  border: 1px solid black;
}

.path p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  white-space: nowrap;
}

.activePath {
  color: rgba(0, 147, 121, 1);
  font-weight: 600;
}

.unibox {
  display: flex;
  gap: 35px;
}

.uniImg {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
  height: 50%;
}
.Title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Title h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
}
.Title p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(98, 98, 100, 1);
}
@media (max-width: 768px) {
  .unibox {
    flex-direction: column;
  }
  .uniImg {
    width: 100%;
    height: 100%;
  } 
}
